{% extends "tes2/main.html" %}
{% load static %}

{% block links %}
<link rel = "stylesheet" type = "text/css" href= "{% static 'css/estilo.css' %}">

{% endblock links %}

{% block content %}

<div class = "container">
    <div class="row">
        <h1>Mi Cuenta</h1>
        <h4>Bienvenido {{usuario.nombre}}</h4>
    </div>
    <div class = "row m-4">
        <div class="col-3  brd mx-5">
            <a href = "#">Información General</a>
            <p><br>Modifica tus datos personales e información de contacto.</p>
        </div>

        <div class="col-3  brd mx-5">
            <a href = "mi_cuenta/mis_equipos">Mis Equipos</a>
            <p><br>Información sobre tus equipos registrados.</p>
        </div>

        <div class="col-3  brd mx-5">
            <a href = "mi_cuenta/mis_transacciones">Mis Transacciones</a>
            <p><br>Información de las transacciones en las que has participado.</p>
        </div>

    </div>

    <div class = "row  justify-content-center m-4">

        <div class="col-3  brd mx-5">
            <a href = "mi_cuenta/ubicaciones">Mis Ubicaciones</a>
            <p><br>Información de tus ubicaciones.</p>
        </div>

        <div class="col-3  brd mx-5">
            <a href = "mis_solicitudes">Mis Solicitudes</a>
            <p><br>Revisa las solicitudes a tus equipos y solicitudes enviadas</p>
        </div>
    </div>
</div>
{% endblock content %}