{% extends "tes2/main.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<input type = "hidden" id = "num-eq" value = "{{equipo.num_equipo}}">
<input type = "hidden" id = "usr" value = "{{user}}">
<div class="container">
  <div class="row justify-content-end">
    <div class="col-4">
      <img  class = "fit-vista"alt= "Imagen" src = "{{ imagenes.first.imageURL }}">
    </div>
    <div class="col-4 brd mx-1">
        <h1>{{equipo.que_es}} {{equipo.marca}} {{equipo.modelo}}</h1>
        <hr>
        <h3>Año: {{equipo.año}}</h3>
        <h4>{{equipo.descripcion}}</h4>
        <hr>
        <h3>Ubicación</h3>
        <h4>{{equipo.donde_esta.municipio}}, {{equipo.donde_esta.estado}}</h4>
    </div>
    <div class="col-2 brd">
      <div class="center">
        {%if equipo.para_que == "ambos"%}
          <h4>Precio de Venta:</h4>
          <h4>${{equipo.precio_venta|floatformat:"0"|intcomma}}</h4>
          <br>
          <h4>Precio de Renta:</h4>
          <h4>${{equipo.precio_renta_dia|floatformat:"0"|intcomma}}</h4><br>
          <btn id = "b-renta" class="btn btn-outline-secondary mb-2">Rentar</btn>
          <btn id = "b-compra" class="btn btn-outline-secondary mb-2">Comprar</btn>

      {%elif equipo.para_que == "venta"%}
        <h4>Precio de Venta:</h4>
        <h4>${{equipo.precio_venta|floatformat:"0"|intcomma}}</h4>
        <br>
        <btn id = "b-compra" class="btn btn-outline-secondary">Comprar</btn>
      {%else%}
        <h4>Precio de Renta:</h4>
        <h4>${{equipo.precio_renta_dia|floatformat:"0"|intcomma}}</h4>
        <br>
        <btn id = "b-renta" class="btn btn-outline-secondary mb-2">Rentar</btn>
      {% endif%}
      </div>      
    </div>
  </div>
  <div class="row justify-content-end mt-3 hh">
    <div class="col-6">
      <div class="row brd">
        <button class = "btn" id = "btn-especificos">Más información del Equipo</button>
      </div>
      <div class="row justify-content-center hidden" id = "especificos">
        <div class="col-10">
          <form>
            {% if equipo.tipo_equipo == "arado"%}
            <p>
              <label for="id_tipo">Tipo de cuerpos:</label> 
              <select name="tipo" class="form-control" id="id_tipo" disabled>
                <option value="vertedera" {% if det.tipo == "vertedera" %} selected {% endif %}>Vertedera</option>
                <option value="disco" {% if det.tipo == "disco" %} selected {% endif %}>Disco</option>
                <option value="cincel" {% if det.tipo == "cincel" %} selected {% endif %}>Cincel</option>
                <option value="subsuelo" {% if det.tipo == "subsuelo" %} selected {% endif %}>Subsuelo</option>
              </select>
            </p>
            <p>
              <label for="id_reversible">Reversible:</label>
              <select name = "reversible" class = "form-control" id = "id_reversible" disabled>
                <option value="True" {% if det.reversible %} selected {% endif %}>Si</option>
                <option value="False" {% if det.reversible == False %} selected {% endif %}>No</option>
              </select>
            </p>
            <p>
              <label for="id_no_cuerpos">Número de cuerpos:</label>
              <input type="number" name="no_cuerpos" class="form-control" min="1" required="" id="id_no_cuerpos" disabled value="{{det.no_cuerpos}}">
            </p>
            <p>
              <label for="id_neumatica_mecanica">Neumatico o Mecánico:</label>
              <select name="neumatica_mecanica" class="form-control" id="id_neumatica_mecanica" disabled>
                <option value="neumatico" {% if det.neumatica_mecanica == "neumatico" %} selected {% endif %}>Neumático</option>
                <option value="mecanico" {% if det.neumatica_mecanica == "mecanico" %} selected {% endif %}>Mecánico</option>
              </select>
            </p>
            {% elif equipo.tipo_equipo == "tractor" %}
            <p>
              <label for="id_potencia">Potencia del Motor (HP):</label> 
              <input type="number" name="potencia" class="form-control" min="1" required="" id="id_potencia" value = {{det.potencia}} disabled>
            </p>
            <p>
              <label for="id_estrias_PTO">Estrías de la Toma de Fuerza:</label>
              <select name="estrias_PTO" class="form-control" id="id_estrias_PTO" disabled>
                <option value="6" {% if det.estrias_PTO == 6%} selected {%endif%}>6</option>
                <option value="21" {% if det.estrias_PTO == 21%} selected {%endif%}>21</option>
              </select>
            </p>
            <p>
              <label for="id_enganche_tres_puntos">¿Tiene enganche de tres puntos?</label>
              <select name="enganche_tres_puntos" id="id_enganche_tres_puntos" disabled class="form-control">
                <option value="True" {% if det.enganche_tres_puntos %} selected {% endif %}>Si</option>
                <option value="False" {% if det.enganche_tres_puntos == False %} selected {% endif %}>No</option>
              </select>
            </p>
            <p>
              <label for="id_traccion">Tipo de Tracción:</label>
              <select name="traccion" class="form-control" id="id_traccion" disabled>
                <option value="delantera" {% if det.traccion == delantera%} selected {%endif%}>Delantera</option>
                <option value="trasera" {% if det.traccion == trasera%} selected {%endif%}>Trasera</option>
                <option value="4wd" {% if det.traccion == 4wd%} selected {%endif%}>4WD</option>
              </select>
            </p>
            <p>
              <label for="id_cabina">¿Tiene Cabina?</label>
              <select name="cabina" id="id_cabina"  class = "form-control" disabled>
                <option value="True" {% if det.cabina %} selected {% endif %}>Si</option>
                <option value="False" {% if det.cabina == False %} selected {% endif %}>No</option>
              </select>
            </p>
            {% elif equipo.tipo_equipo == "rastra" %}
            <p><label for="id_acople">Tipo de Acople al Tractor:</label>
              <select name="acople" class="form-control" id="id_acople" disabled>
                <option value="integral" {% if det.acolpe == "Integral"%} selected {%endif%}>Integral</option>
                <option value="tiro" {% if det.acolpe == "De Tiro" %} selected {%endif%}>De Tiro</option>
              </select>
            </p>
            <p>
              <label for="id_tipo_cuerpo">Tipo  de Cuerpos:</label>
              <select name="tipo_cuerpo" class="form-control" id="id_tipo_cuerpo" disabled>
                <option value="Disco Liso"  {% if det.tipo_cuerpo == "Disco Liso" %} selected {%endif%}>Disco Liso</option>
                <option value="Disco Dentado" {% if det.tipo_cuerpo == "Disco Dentado" %} selected {%endif%}>Disco Dentado</option>
                <option value="Discos Combinados" {% if det.tipo_cuerpo == "Discos Combinados" %} selected {%endif%}>Discos Combinados</option>
              </select>
            </p>
            <p>
              <label for="id_no_cuerpos">No de Cuerpos:</label> 
              <input type="number" name="no_cuerpos" class="form-control" min="1" required="" id="id_no_cuerpos" disabled value="{{det.no_cuerpos}}">
            </p>
            <p>
              <label for="id_disposicion_cuerpos">Disposición de los Cuerpos:</label>
              <select name="disposicion_cuerpos" class="form-control" id="id_disposicion_cuerpos" disabled>
                <option value="Simple" {% if det.disposicion_cuerpos == "Simple" %} selected {%endif%}>Simple</option>
                <option value="Tandem" {% if det.disposicion_cuerpos == "Tandem" %} selected {%endif%}>Tandem</option>
                <option value="Offset" {% if det.disposicion_cuerpos == "Offset" %} selected {%endif%}>Offset</option>
              </select>
            </p>
            {%elif equipo.tipo_equipo == "sembradora"%}
            <p>
              <label for="id_tipo">Tipo de Distribución de la Semilla:</label>
              <select name="tipo" class="form-control" id="id_tipo" disabled>
                <option value="Voleo" {% if det.tipo == "Voleo" %} selected {%endif%}>De Voleo</option>
                <option value="Chorrillo" {% if det.tipo == "chorrillo" %} selected {%endif%}>A Chorrillo</option>
                <option value="Precision" {% if det.tipo == "Precision" %} selected {%endif%}>De Precisión</option>
                <option value="Monograno" {% if det.tipo == "Monograno" %} selected {%endif%}>Monograno</option>
              </select>            
            </p>
            <p>
              <label for="id_fertilizadora">¿Tiene Fertilizadora?:</label>
              <select name="fertilizadora" id="id_fertilizadora" disabled class="form-control">
                <option value="True" {% if det.fertilizadora %} selected {% endif %}>Si</option>
                <option value="False" {% if det.fertilizadora == False %} selected {% endif %}>No</option>
              </select>
            </p>
            <p>
              <label for="id_no_tolvas">Número de tolvas:</label>
              <input type="number" name="no_tolvas" class="form-control" min="1" required="" id="id_no_tolvas" disabled  value="{{det.no_tolvas}}">
            </p>
            <p>
              <label for="id_neumatica_mecanica">Tipo de Dosificador:</label>
              <select name="neumatica_mecanica" class="form-control" id="id_neumatica_mecanica" disabled>
                <option value="neumatica" {% if det.neumatica_mecanica == "neumatica" %} selected {%endif%}>Neumático</option>
                <option value="mecanica" {% if det.neumatica_mecanica == "mecanica" %} selected {%endif%}>Mecánico</option>
              </select>
            </p>
            {% elif equipo.tipo_equipo == "pulverizadora"%}
            <p>
              <label for="id_autopropulsada">¿Es Autopropulsada?</label>
              <select name="autopropulsada" id="id_autopropulsada" disabled class="form-control">
                <option value="True" {% if det.autopropulsada %} selected {% endif %}>Si</option>
                <option value="False" {% if det.autopropulsada == False %} selected {% endif %}>No</option>
              </select>
            </p>
            <p>
              <label for="id_tamaño_tanque">Capacidad del Tanque (Litros):</label>
              <input type="number" name="tamaño_tanque" class="form-control" min="1" required="" id="id_tamaño_tanque" value="{{det.tamaño_tanque}}" disabled>
            </p>
            <p>
              <label for="id_no_boquillas">Número de Boquillas:</label>
              <input type="number" name="no_boquillas" class="form-control" min="1" required="" id="id_no_boquillas" disabled value="{{det.no_boquillas}}">
            </p>
            <p>
              <label for="id_capacidad_bomba">Caudal de la Bomba (litros/min):</label>
              <input type="number" name="capacidad_bomba" class="form-control" min="1" required="" id="id_capacidad_bomba" disabled value="{{det.capacidad_bomba}}">
            </p>
            {% elif equipo.tipo_equipo == "cosechadora" %}
            <p>
              <label for="id_tipo_cultivo">Tipo de Cabezal:</label>
              <input type="text" name="tipo_cultivo" class="form-control" required="" id="id_tipo_cultivo" disabled value="{{det.tipo_cultivo}}">
            </p>
            <p>
              <label for="id_potencia">Potencia del motor (HP):</label>
              <input type="number" name="potencia" class="form-control" min="1" required="" id="id_potencia" disabled value="{{det.potencia}}">
            </p>
            <p>
              <label for="id_capacidad_granos">Capacidad de almacenaje:</label>
              <input type="number" name="capacidad_granos" class="form-control" min="1" required="" id="id_capacidad_granos" disabled value="{{det.capacidad_granos}}">
            </p>
            <p>
              <label for="id_tasa_descarga">Velocidad de descarga (L/s):</label>
              <input type="number" name="tasa_descarga" class="form-control" min="1" required="" id="id_tasa_descarga" disabled value="{{det.tasa_descarga}}">
            </p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Advertenica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center">
        <p>Por favor inicie sesión para continuar</p>
      </div>
      <div class="modal-footer center">
        <a class="btn btn-primary" href = "/login">Iniciar Sesión</a>
        <a class="btn btn-secondary" href = "/registro" >Crear Cuenta</a>
      </div>
    </div>
  </div>
</div>
<script src="{%static 'js/detalles_equipo.js'%}"></script>
{% endblock content %}
