{% extends "tes2/main.html" %}
{% load static %}


{% block links%}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

{% endblock links %}


{% block content %}

<div class = "row">
    <h1>
        Selecciona la ubicación en el mapa
    </h1>
</div>

<hr>

<div class = "row map-container">
    <div id = "map">    </div>
</div>

<hr>

<div class = "container">
    <div class="row">
        <div class="col-5">
            <form class = "form" method = "POST" id = "forma-princ">     {%csrf_token%}
                <input required type="hidden" id = "cdx" name="coord_x">
                <input required type="hidden" id = "cdy" name="coord_y">
                <input type="hidden" id = "municipio" name="municipio" required>
                <input type="hidden" id = "estado", name = "estado" required>
                {{ form }}        
            </form>
            <div class="derecha mx-1 my-2">
                <button class= "btn btn-primary" id = "dale">Registrar ubicación</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/mapa_reg_ub.js' %}"></script>



{% endblock content %}