{% extends "tes2/main.html" %}
{%load static%}

{% block content %}
<div class="container">
    <div class="row">
        <div class = "col center">
            {% if solicitudes  == "na" %}
            <h1>No tiene solicitudes pendientes</h1>
            {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Interesado</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Tipo de transacción</th>
                    <th scope="col">Fechas</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id = "num">
                {% for sol in solicitudes %}
                <tr>  
                    <td>{{sol.id_solicitante}}</td>
                    <td>{{sol.id_equipo}}</td>
                    <td>{{sol.tipo_operacion|capfirst}}</td>
                    <td>{{sol.fecha_inicio|date:"d/m/Y"}} - {{sol.fecha_final|date:"d/m/Y"}}</td>
                    <td> 
                        <a class = "btn btn-outline-success" href="mis_solicitudes/{{sol.id_solicitud}}">Más Información</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>





{% endblock content %}
