{% extends "tes2/main.html" %}
{%load static%}


{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-4 brd mx-1">
            <div class="row">
                <h1>Equipo</h1>
                <h2>{{sol.id_equipo.nombre_equipo|capfirst}} </h2>
                <span class="derecha mb-2">
                    <button id="ver-equipo" class = "btn btn-secondary"> Ver Equipo </button>
                </span>
                <hr>
            </div>
            <div class="row">
                <h1>Usuario Interesado</h1>
                <h2>{{sol.id_solicitante.nombre|capfirst}} {{notif.id_solicitante.apellido_1|capfirst}} {{notif.id_solicitante.apellido_2|capfirst}}</h2>
                <hr>
            </div>
            <div class="row">
                <h2>Información de ubicaciones</h2>
                <br>
                <h3>1 - Ubicación del Equipo: </h3>
                <h4>{{sol.desde_donde.municipio}}, {{sol.desde_donde.estado}}</h4>
                <h3>2 - Destino del Equipo:</h3>
                <h4>{{sol.a_donde.municipio}}, {{sol.a_donde.estado}} </h4>
                <!-- <span class="derecha mb-2">
                    <button id="ver-mapa" class = "btn btn-secondary"> Ver en Mapa </button>
                </span> -->
            </div>
            .
        </div>
        <div class="col-4 brd mx-1 p-1">
            <img class= "mapa-img" src = "https://maps.googleapis.com/maps/api/staticmap?&size=496x496&maptype=roadmap
            &markers=color:red%7Clabel:1%7C{{sol.desde_donde.coord_x}},{{sol.desde_donde.coord_y}}&markers=color:green%7Clabel:2%7C{{sol.a_donde.coord_x}},{{sol.a_donde.coord_y}}
            &key=AIzaSyA6BgqA2oKejfHVnFodwFPmIDJZDIH6YeE">
            <hr>
            {% if sol.tipo_operacion == "renta"%}
            <div class="row">
                <h3>Precio de renta/dia:    ${{sol.id_equipo.precio_renta_dia}}</h3>
            </div>
            <div class="row">
                <h3>Costo Total:    ${{sol.costo}}</h3>
            </div>
            {% else %}
            <div class="row">
                <h3>Precio de Venta:    ${{sol.costo}}</h3>
            </div>
            {% endif %}
        </div>
        <div class="col-3 brd mx-1">
            <div class="row">
                <h2>Fecha de inicio</h2>
                <h3>{{sol.fecha_inicio|date:"d/m/Y"}}</h3>
                <hr>
            </div>
            <div class="row">
                <h2>Fecha final</h2>
                <h3>{{sol.fecha_final|date:"d/m/Y"}}</h3>
                <hr>
            </div>
            <div class="row">
                <h1>Comentario</h1>
                <textarea disabled rows= 4> {{sol.comentario|capfirst}}</textarea>
            </div>
            <br>
            {% if sol.estatus  == "1" %}
            <div class="botones">
                <form class = "form" method = "POST" id = "forma-SN"> {% csrf_token %}
                    <input type="hidden" value name = "wwmd" id = "wwmd">
                </form>
                <button class = "btn btn-primary b-acp">Aceptar</button>
                <button class = "btn btn-danger b-rec">Rechazar</button>
                <a class = "btn btn-secondary" href= "/mis_solicitudes/{{sol.id_solicitud}}/rsp">Responder</a>            
            </div>
            {% else %}
            <div class="row">
                <h3>Esta solicitud ya ha sido respondida</h3>
                <span class="center">
                    <a class = "btn btn-secondary" href="/mis_solicitudes">Ir a Mis Solicitudes</a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row center">
    </div>
</div>

<div class="overlay hidden" id = "modal-equipo">
    <div class="modal-solicitud">
        <div class="container">
            <div class="row m-3">
              <div class="col-6">
                <img  class = "fit-vista"alt= "Imagen" src = "{{ img.first.imageURL }}">
              </div>
              <div class="col-4 brd mx-1">
                  <h1>{{sol.id_equipo.que_es}} {{sol.id_equipo.marca}} {{sol.id_equipo.modelo}}</h1>
                  <hr>
                  <h3>Año: {{sol.id_equipo.año}}</h3>
                  <h4>{{sol.id_equipo.descripcion}}</h4>
                  <hr>
              </div>
              <div class="col brd">
                {%if sol.id_equipo.para_que == "ambos"%}
                    <h4>Precio de Venta:</h4>
                    <h4>${{sol.id_equipo.precio_venta}}</h4>
                    <br>
                    <h4>Precio de Renta:</h4>
                    <h4>${{sol.id_equipo.precio_renta_dia}}</h4><br>
                {%elif sol.id_equipo.para_que == "venta"%}
                  <h4>Precio de Venta:</h4>
                  <h4>${{sol.id_equipo.precio_venta}}</h4>
                  <br>
                {%else%}
                  <h4>Precio de Renta:</h4>
                  <h4>${{sol.id_equipo.precio_renta_dia}}</h4>
                  <br>
                {% endif%}
              </div>
            </div>
        </div>
        <div style="float: right; display: inline;" class="my-1">
            <button class="btn btn-danger" type="button" id = "btn-cerrar-equipo">
                Cerrar
            </button>
        </div>
    </div>

</div>

<script type="text/javascript" src="{%static 'js/n_es.js'%}"></script>

{% endblock content %}