{% extends "tes2/main.html" %}
{%load static%}

{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-4 brd mx-1 center">
            <h1>Equipo</h1>
            <h2>{{trn.id_equipo.nombre_equipo}}</h2>
            <hr>
            {% if quien == "dueño" %}
                <h1>Rentado a:</h1>
                <h2>{{trn.id_arrendatario.nombre|capfirst}} {{trn.id_arrendatario.apellido_1|capfirst}} {{notif.id_arrendatario.apellido_2|capfirst}}</h2>
                <hr>
                <h1>Dueño del equipo:</h1>
                <h2>{{trn.id_dueño.nombre|capfirst}} {{trn.id_dueño.apellido_1|capfirst}} {{notif.id_dueño.apellido_2|capfirst}}</h2>
                <hr>
                <h2>Información de ubicaciones</h2>
                <br>
                <h3>1 - Ubicación del Equipo </h3>
                <h4>{{trn.desde_donde}}</h4>
                <h3>2 - Destino del Equipo </h3>
                <h4>{{trn.hacia_donde.municipio}}, {{trn.hacia_donde.estado}} </h4>
            {% elif quien == "arren" %}
                <h1>Rentado a:</h1>
                <h2>{{trn.id_arrendatario.nombre|capfirst}} {{trn.id_arrendatario.apellido_1|capfirst}} {{notif.id_arrendatario.apellido_2|capfirst}}</h2>
                <hr>
                <h1>Dueño del equipo:</h1>
                <h2>{{trn.id_dueño.nombre|capfirst}} {{trn.id_dueño.apellido_1|capfirst}} {{notif.id_dueño.apellido_2|capfirst}}</h2>
                <hr>
                <h2>Información de ubicaciones</h2>
                <br>
                <h3>1 - Ubicación del Equipo </h3>
                <h4>{{trn.desde_donde}}</h4>
                <h3>2 - Destino del Equipo </h3>
                <h4>{{trn.hacia_donde.municipio}}, {{trn.hacia_donde.estado}} </h4>
            {% endif %}

        </div>
        <div class="col-4 brd mx-1 p-1">
            <!-- <img class= "mapa-img" src = "https://maps.googleapis.com/maps/api/staticmap?&size=496x496&maptype=roadmap
            &markers=color:red%7Clabel:1%7C{{trn.desde_donde.coord_x}},{{trn.desde_donde.coord_y}}&markers=color:green%7Clabel:2%7C{{trn.hacia_donde.coord_x}},{{trn.hacia_donde.coord_y}}
            &key=AIzaSyA6BgqA2oKejfHVnFodwFPmIDJZDIH6YeE"> -->
        </div>
        <div class="col-3 brd mx-1">
            <h1>Fecha de inicio</h1>
            <h2 class = "f-ini">{{trn.fecha_inicial|date:"d/m/Y"}}</h2>
            <hr>
            <br>
            <h1>Fecha final</h1>
            <h2>{{trn.fecha_final|date:"d/m/Y"}}</h2>
            <hr>
            <br>
            <div id = "divB" class="center hidden">
                <button id = "cancel" class = "btn btn-secondary" >Cancelar transacción</button>
                <input type="hidden" value = "{{trn.id_transaccion}}" name = "wwmd" id = "wwmd">            
            </div>
        </div>
    </div>
    <div class="row center">
    </div>
</div>
<script type="text/javascript" src = "{%static 'js/transaccion_especifica.js'%}"></script>

{% endblock content %}