{% extends "tes2/main.html" %}
{%load static%}

{% block content %}
<div class="container">
    <div class="row center my-2">
        <h2>Mis Ubicaciones</h2>
    </div>
    <div class="row">
        <div class = "col-8 center">
            {% if ubicacion  == "na" %}
            <h1>Aún no tienes ubicaciones registradas</h1>
            <div class="row mt-4">
                <div class="b-rec">
                    <a class="btn btn-success" href="/registro_ubicacion">Nueva Ubicación</a>
                </div>
            </div>
            {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Alias</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Estado</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id = "num">
                {% for ub in ubicacion %}
                <tr>  
                    <td>{{ forloop.counter }}</td>
                    <td>{{ub.alias|capfirst}}</td>
                    <td>{{ub.municipio}}</td>
                    <td>{{ub.estado}}</td>
                    <td style="width:20%;"> 
                        <a class = "btn btn-outline-success" href="/mi_cuenta/ubicaciones/{{ub.id_ubicacion}}">Más Información</a>
                    </td>
                    <td >
                        <button id = "btn-el" class="btn btn-danger">
                            <input type="hidden" value="{{ub.id_ubicacion}}">
                            <i class="fa fa-trash-o fa-lg"></i> Eliminar
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="b-rec">
                <a class="btn btn-success" href="/registro_ubicacion">Nueva Ubicación</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<script type="text/javascript" src="{%static 'js/lista_ubicaciones.js'%}"></script>

{% if messages %}
   <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
   </script>
{% endif %}




{% endblock content %}